body
{
    font-family: Helvetica;
    background-color: #D9E4E9;
    font-size: 1.5em;
    margin: 0;
}
#navbar
{
    background-color: #233040;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
#navbar a
{
    text-decoration: none;
}
#navbar h1
{
    font-size: 1.5em;
    text-shadow: -2px 6px black;
    padding: 0.5em;
    color: #FFFFFF;
    margin: 0;
}
#links
{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 0.5em;
}
#links a
{
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}
#links a:hover
{
    background-color: #42526E;
}
#mobile-links
{
    display: none;
}
#menu
{
    display: none;
}
#projects
{
    position: relative;
    display: block;
    margin: 0em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
#projects:hover
{
    background-color: #42526E;
}
#projects-list
{
    position: absolute;
    top: 2.6em;
    right: 0;
    background-color: #42526E;
    display: none;
    flex-direction: column;
    width: 10em;
}
#projects-list div
{
    display: flex;
    flex-direction: column;
}
#projects-list p
{
    border-bottom-style: solid;
    margin-top: 0em;
    margin-bottom: 0.4em;
    font-size: 0.9em;
    padding: 0.3em; 
    background-color: #233040;
}
#projects-list a
{
    font-size: 0.8em;
}
#projects-list a:hover
{
    background-color: #AAB8C2;
}
@media screen and (max-width: 600px)
{
    #links
    {
        display: none;
    }
    #menu
    {
        display: block;
    }
    #mobile-links
    {
        display: none;
        flex-direction: column;
        padding-right: 0.5em;
    }
    #mobile-links a
    {
        padding: 0.5em;
        text-decoration: none;
        text-align: center;
        color: #FFFFFF;
    }
    #mobile-links a:hover
    {
        padding: 0.5em;
        text-decoration: none;
        background-color: #6B7B8C;
    }
    #mobile-menu
    {
        background-color: #42526E;
        margin-bottom: 1em;
    }
    #navbar
    {
        margin-bottom: 0em;
    }
    #menu
    {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }
    #menu p
    {
        padding: 0.5em;
        color: #FFFFFF;
        margin-right: 1em;
    }
    #menu p:hover
    {
        background-color: #42526E;
    }
    #mobile-projects
    {
        position: relative;
        display: block;
        margin: 0em;
        padding: 0.5em;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
    }
    #mobile-projects:hover
    {
        background-color: #42526E;
    }
    #mobile-projects-list
    {
        background-color: #42526E;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    #mobile-projects-list div
    {
        display: flex;
        flex-direction: column;
    }
    #mobile-projects-list p
    {
        background-color: #233040;
        border-top-style: solid;
        border-bottom-style: solid;
        margin: 0.8em 1.5em 0em 1.5em;
        font-size: 0.9em;
    }
    #mobile-projects-list a
    {
        font-size: 0.8em;
    }
}
#about
{
    width: 85%;
    margin: auto;
    background-color: #AAB8C2;
    padding: 1em;
    overflow: auto;
}
#about h1
{
    font-size: 1.5em;
    margin-bottom: 0;
}
#about h2
{
    font-size: 0.8em;
    font-weight: lighter;
    margin-top: 0;
    display: inline-block;
}
#about p
{
    font-size: 1em;
    font-weight: lighter;
}
#about img
{
    width: 100%;
    max-width: 800px;
}
#pic
{
    width: 20%;
    padding: 1em;
    float: left;
}
#media
{
    display: inline-block;
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
}
#media p
{
    margin: auto;
    font-size: 1em;
    margin-bottom: 0.5em;
}
#media button
{
    padding: 0.3em;
    font-size: 0.7em;
    font-family: Helvetica;
    background-color: #D9E4E9;
    box-shadow: 0.2em 0.3em #42526E;
    align-self: center;
}
#media button:hover
{
    background-color: #6B7B8C;
    box-shadow: 0.2em 0.3em #233040;
    color: #FFFFFF;
}
#media-links
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#media-links .link
{
    width: 36px;
    height: 36px;
    background-size: 178px, 72px;
    background-repeat: no-repeat;
    background-image: url("resources/spritesheet.png");
    margin: 0em 1.5em;
}
#github
{
    margin-left: 0em;
    background-position: -37px 0px;
}
#github:hover
{
    background-position: -37px -36px;
}
#linkedin
{
    background-position: -72px 0px;
}
#linkedin:hover
{
    background-position: -72px -36px;
}
#gmail
{
    margin: 0em 1.5em;
    filter: grayscale(100%);
}
#gmail:hover
{
    filter: grayscale(0%);
}
/**
Dark Blue-Gray: #233040
Deep Blue-Gray: #42526E
Medium Blue-Gray: #6B7B8C
Soft Blue-Gray: #AAB8C2
Light Blue-Gray: #D9E4E9
**/